<footer>
    <div class="container-fluid link-light bg-dark mt-5 p-3">
        <div class="row m-auto">
            <div class="col-12 col-sm-6 col-md-3 col-xl-3">
                <h4 class="text-uppercase">About Us</h4>
                <p> Our mission is to be a value-centric,
                    integrated services firm on a global stage.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-xl-3">
                <h4 class="text-uppercase">Services</h4>
                <p><a class="link-light text-decoration-none" href="#">Custom Application</a></p>
                <p><a class="link-light text-decoration-none" href="#">Digital Marketing Services</a></p>
                <p><a class="link-light text-decoration-none" href="#">Mobile App Development</a></p>
                <p><a class="link-light text-decoration-none" href="#">Software Development</a></p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-xl-3">
                <h4 class="text-uppercase">Useful Links</h4>
                <p><a class="link-light text-decoration-none" href="#">Overview</a></p>
                <p><a class="link-light text-decoration-none" href="#">Empanelments</a></p>
                <p><a class="link-light text-decoration-none" href="#">Management Team</a></p>
                <p><a class="link-light text-decoration-none" href="#">Project Team</a></p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-xl-3">
                <h4 class="text-uppercase">Address</h4>
                <p><i class="fas fa-home"></i> Sector 62 ,Noida , Uttar Pradesh</p>
                <p><i class="fas fa-envelope-square"></i> info@npglobal.in</p>
                <p><i class="fas fa-phone-alt"></i> 0120-478-499</p>
            </div>
        </div>
    </div>
</footer>