.online {
  background-color: green;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  height: 100%;
  animation: online-response 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.offline {
  background-color: red;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  height: 100%;
}

@keyframes online-response {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
